 nav {
background-color: cornflowerblue;
padding: 20px;

}
a {
color: #fff;
 margin-right: 20px;
margin-left: 20px; 
}
a:hover {
color: #000;
}

.nav-link-1 {
border: 2px solid red;
padding: 5px;
}
.nav-link-2 {
border: 2px dotted red;
padding: 5px;
}
.nav-link-3 {
border: 2px dashed red;
padding: 5px;
}
.nav-link-4 {
border: 3px double red;
padding: 5px;
}
.nav-link-5 {
border: 2px groove red;
padding: 5px;
}